actionlib==1.14.0
albumentations==1.4.7
catkin_pkg==1.0.0
catkin_pkg_modules==1.0.0
Click==7.0
ConfigParser==7.0.0
controller_manager_msgs==0.20.0
cv_bridge==1.16.2
easyocr==1.7.1
fpdf==1.7.2
genpy==0.6.15
matplotlib==3.7.5
matplotlib==3.1.2
moveit_commander==1.1.13
numpy==1.24.4
numpy==1.17.4
open3d==0.13.0
opencv_python==4.9.0.80
pandas==2.0.3
pyrealsense2==2.55.1.6486
pytesseract==0.3.10
python_qt_binding==0.4.4
PyYAML==6.0.1
qt_gui==0.4.2
Requests==2.32.3
rosbag==1.16.0
roslib==1.15.8
rospkg==1.5.0
rospkg_modules==1.5.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
scikit_learn==1.3.2
scipy==1.3.3
seaborn==0.13.2
sensor_msgs==1.13.1
setuptools==45.2.0
Shapely==2.0.4
tf==1.13.2
tf2_ros==0.7.7
tf_conversions==1.13.2
torch==2.2.2
torchvision==0.17.2
transformations==2022.9.26
transforms3d==0.4.1
ultralytics==8.1.42
